<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hu_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,326},{43,169}}</string>
                <key>offset</key>
                <string>{-2,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,182},{43,169}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,233},{229,281}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{229,281}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{229,285}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{229,285}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{229,285}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{229,285}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,229},{229,291}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,291}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,229},{229,291}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,291}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{225,293}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{225,293}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{225,293}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{225,293}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,460},{225,277}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{225,277}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,460},{225,277}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{225,277}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,464},{221,271}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{221,271}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,326},{43,169}}</string>
                <key>offset</key>
                <string>{-2,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,182},{43,169}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{65,189}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,150},{65,189}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,233},{103,241}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{103,241}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,233},{103,241}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{103,241}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{217,251}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,50},{217,251}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{229,291}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{229,291}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{229,291}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{229,291}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_an_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,233},{229,281}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{229,281}}</string>
                <key>sourceSize</key>
                <string>{229,351}</string>
            </dict>
            <key>hu_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,322}}</string>
                <key>sourceSize</key>
                <string>{333,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuAni.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751691cc7272a13be4d03d2758cd0553$</string>
            <key>textureFileName</key>
            <string>HuAni.png</string>
        </dict>
    </dict>
</plist>
