<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1567},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>banbanhu_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{106,39}</string>
            </dict>
            <key>baoting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{71,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1411},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>fanggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1543},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>fangpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,42},{72,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>gangbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1483},{71,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,38}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>gangshanghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{104,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{106,39}</string>
            </dict>
            <key>gonggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1572},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,26}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>haidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1465},{71,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,38}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>haidihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1307},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>hhxqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{168,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{168,38}}</string>
                <key>sourceSize</key>
                <string>{170,42}</string>
            </dict>
            <key>img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,187},{1118,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{1118,117}}</string>
                <key>sourceSize</key>
                <string>{1136,135}</string>
            </dict>
            <key>img_bgiframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{1126,125}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{1126,125}}</string>
                <key>sourceSize</key>
                <string>{1136,149}</string>
            </dict>
            <key>jiangjianghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{103,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,38}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>jiegang.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1488},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>jiepao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{72,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>liuliushun_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{102,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{108,39}</string>
            </dict>
            <key>menqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1505},{70,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,36}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>minggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,122},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>pengpenghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1347},{103,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,38}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,83},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>qingyise_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{103,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,38}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>quanqiuren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{104,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{106,39}</string>
            </dict>
            <key>queyise_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1211},{104,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{106,39}</string>
            </dict>
            <key>shengpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1543},{49,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>sixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{70,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,82},{71,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,38}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>xiaoqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1387},{103,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{103,36}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>yitiaolong.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1425},{102,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,38}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>yiziqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1307},{103,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,38}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>yzqyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{170,39}</string>
            </dict>
            <key>zhongniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,122},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1523},{68,38}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LabelTuPian.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2552728cfcdfe54118bd93dce08b446$</string>
            <key>textureFileName</key>
            <string>LabelTuPian.png</string>
        </dict>
    </dict>
</plist>
