<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>but_haidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{132,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,119}}</string>
                <key>sourceSize</key>
                <string>{132,119}</string>
            </dict>
            <key>but_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,242},{300,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,188}}</string>
                <key>sourceSize</key>
                <string>{300,188}</string>
            </dict>
            <key>but_small_haidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,238}}</string>
                <key>sourceSize</key>
                <string>{381,238}</string>
            </dict>
            <key>but_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{300,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,188}}</string>
                <key>sourceSize</key>
                <string>{300,188}</string>
            </dict>
            <key>laba_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,186},{42,52}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>laba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,136},{48,52}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>laba_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,136},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_chp1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce17a14aaa582cc68a78087e76edfe34$</string>
            <key>textureFileName</key>
            <string>mj_chp1.png</string>
        </dict>
    </dict>
</plist>
