<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_but_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>mj_dlg_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>mj_dlg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{651,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,83}}</string>
                <key>sourceSize</key>
                <string>{651,83}</string>
            </dict>
            <key>mj_title_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,43}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_common.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d117cc5737303e43e47b657911bd246$</string>
            <key>textureFileName</key>
            <string>mj_common.png</string>
        </dict>
    </dict>
</plist>
