<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,703},{113,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,61}}</string>
                <key>sourceSize</key>
                <string>{113,61}</string>
            </dict>
            <key>btn_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,183},{141,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,58}}</string>
                <key>sourceSize</key>
                <string>{141,58}</string>
            </dict>
            <key>but_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,243},{138,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>but_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,854},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>but_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,853},{130,120}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>but_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,731},{130,120}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>but_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,609},{130,120}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>but_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,487},{130,120}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>but_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,365},{130,120}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>but_small_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,641},{338,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,211}}</string>
                <key>sourceSize</key>
                <string>{338,211}</string>
            </dict>
            <key>but_small_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{338,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,211}}</string>
                <key>sourceSize</key>
                <string>{338,211}</string>
            </dict>
            <key>but_small_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,428},{338,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,211}}</string>
                <key>sourceSize</key>
                <string>{338,211}</string>
            </dict>
            <key>but_small_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,215},{338,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,211}}</string>
                <key>sourceSize</key>
                <string>{338,211}</string>
            </dict>
            <key>but_small_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{338,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,211}}</string>
                <key>sourceSize</key>
                <string>{338,211}</string>
            </dict>
            <key>but_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{179,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,146}}</string>
                <key>sourceSize</key>
                <string>{179,146}</string>
            </dict>
            <key>img_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,646},{338,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,210}}</string>
                <key>sourceSize</key>
                <string>{338,210}</string>
            </dict>
            <key>img_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>mj_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,646},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>mj_showbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,981},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>ting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,592},{303,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,52}}</string>
                <key>sourceSize</key>
                <string>{303,52}</string>
            </dict>
            <key>txt_ag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{524,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,293}}</string>
                <key>sourceSize</key>
                <string>{524,293}</string>
            </dict>
            <key>txt_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,293}}</string>
                <key>sourceSize</key>
                <string>{524,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_chp.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5831135ab9d8799fccdc383300ed8797$</string>
            <key>textureFileName</key>
            <string>mj_chp.png</string>
        </dict>
    </dict>
</plist>
