<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_big_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1318},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>btn_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,143},{113,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,61}}</string>
                <key>sourceSize</key>
                <string>{113,61}</string>
            </dict>
            <key>btn_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1261},{141,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,58}}</string>
                <key>sourceSize</key>
                <string>{141,58}</string>
            </dict>
            <key>but_bu_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1287},{118,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>but_chi_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1518},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_chi_un_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1549},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_gang_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{118,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>but_haidi_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1168},{118,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>but_hu_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1545},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_hu_un_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1518},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_pass_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1437},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_pass_un_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1433},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_peng_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1406},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_peng_un_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1321},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>but_small_chi_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,387},{190,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,194}}</string>
                <key>sourceSize</key>
                <string>{190,194}</string>
            </dict>
            <key>but_small_hu_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,206},{179,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,150}}</string>
                <key>sourceSize</key>
                <string>{179,150}</string>
            </dict>
            <key>but_small_peng_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{192,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,185}}</string>
                <key>sourceSize</key>
                <string>{192,185}</string>
            </dict>
            <key>chpCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{282,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,259}}</string>
                <key>sourceSize</key>
                <string>{282,259}</string>
            </dict>
            <key>chpListBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1251},{65,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,179}}</string>
                <key>sourceSize</key>
                <string>{65,179}</string>
            </dict>
            <key>chp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,139}}</string>
                <key>sourceSize</key>
                <string>{456,139}</string>
            </dict>
            <key>head_afk.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,862},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1406},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,780},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>img_hz_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,959},{194,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,131}}</string>
                <key>sourceSize</key>
                <string>{194,131}</string>
            </dict>
            <key>img_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,25},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>lianZhuangSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>mj_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,683},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>mj_showbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,102},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>phz_ani_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1287},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>phz_ani_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,944},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>phz_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1129,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1129,2}}</string>
                <key>sourceSize</key>
                <string>{1129,2}</string>
            </dict>
            <key>phz_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1025},{141,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,97}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
            <key>phz_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,130},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>tieniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{339,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,223}}</string>
                <key>sourceSize</key>
                <string>{339,223}</string>
            </dict>
            <key>tieniaoSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,81},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
            <key>ting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{303,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,52}}</string>
                <key>sourceSize</key>
                <string>{303,52}</string>
            </dict>
            <key>txt_kan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{184,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,204}}</string>
                <key>sourceSize</key>
                <string>{184,204}</string>
            </dict>
            <key>txt_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1092},{167,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,182}}</string>
                <key>sourceSize</key>
                <string>{167,182}</string>
            </dict>
            <key>txt_sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,780},{177,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,201}}</string>
                <key>sourceSize</key>
                <string>{177,201}</string>
            </dict>
            <key>txt_ti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{198,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,193}}</string>
                <key>sourceSize</key>
                <string>{198,193}</string>
            </dict>
            <key>txt_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,583},{195,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,207}}</string>
                <key>sourceSize</key>
                <string>{195,207}</string>
            </dict>
            <key>zhuangniaoSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,60},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_chp3.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2488d39615dc947288bd26299d9c64a$</string>
            <key>textureFileName</key>
            <string>mj_chp3.png</string>
        </dict>
    </dict>
</plist>
