<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banbanhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{424,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{424,167}}</string>
                <key>sourceSize</key>
                <string>{444,173}</string>
            </dict>
            <key>liuliushun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{416,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{416,153}}</string>
                <key>sourceSize</key>
                <string>{444,173}</string>
            </dict>
            <key>queyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{444,165}}</string>
                <key>sourceSize</key>
                <string>{444,173}</string>
            </dict>
            <key>sixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{283,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,173}}</string>
                <key>sourceSize</key>
                <string>{283,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_chp2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f681b63aed7dac83cc50f376ea027015$</string>
            <key>textureFileName</key>
            <string>mj_chp2.png</string>
        </dict>
    </dict>
</plist>
