<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_playdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,714},{123,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,44}}</string>
                <key>sourceSize</key>
                <string>{123,44}</string>
            </dict>
            <key>img_playleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{44,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,123}}</string>
                <key>sourceSize</key>
                <string>{44,123}</string>
            </dict>
            <key>img_playright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{44,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,123}}</string>
                <key>sourceSize</key>
                <string>{44,123}</string>
            </dict>
            <key>img_playup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{123,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,44}}</string>
                <key>sourceSize</key>
                <string>{123,44}</string>
            </dict>
            <key>mj_hu_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,839},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>wanfaBgImg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,483}}</string>
                <key>sourceSize</key>
                <string>{565,483}</string>
            </dict>
            <key>wanfaBgImg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,649},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>wanfaClosebut.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,569},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>zhuaniao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{61,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,143}}</string>
                <key>sourceSize</key>
                <string>{61,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WanFa.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f253797f50eb25f66d0b22b87c418b1c$</string>
            <key>textureFileName</key>
            <string>WanFa.png</string>
        </dict>
    </dict>
</plist>
