<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>but_login_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{254,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,86}}</string>
                <key>sourceSize</key>
                <string>{254,86}</string>
            </dict>
            <key>but_login_yk.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,483},{254,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,86}}</string>
                <key>sourceSize</key>
                <string>{254,86}</string>
            </dict>
            <key>loading_heha0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,390}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{208,390}}</string>
                <key>sourceSize</key>
                <string>{208,400}</string>
            </dict>
            <key>loading_heha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{208,388}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{208,388}}</string>
                <key>sourceSize</key>
                <string>{208,400}</string>
            </dict>
            <key>loading_heha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{208,386}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{208,386}}</string>
                <key>sourceSize</key>
                <string>{208,400}</string>
            </dict>
            <key>loading_heha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,212},{208,384}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{208,384}}</string>
                <key>sourceSize</key>
                <string>{208,400}</string>
            </dict>
            <key>loading_heha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{208,386}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{208,386}}</string>
                <key>sourceSize</key>
                <string>{208,400}</string>
            </dict>
            <key>loading_heha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{208,388}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{208,388}}</string>
                <key>sourceSize</key>
                <string>{208,400}</string>
            </dict>
            <key>loading_heha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,390}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{208,390}}</string>
                <key>sourceSize</key>
                <string>{208,400}</string>
            </dict>
            <key>loading_lheha0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{200,228}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{200,228}}</string>
                <key>sourceSize</key>
                <string>{214,238}</string>
            </dict>
            <key>loading_lheha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,784},{200,226}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,226}}</string>
                <key>sourceSize</key>
                <string>{214,238}</string>
            </dict>
            <key>loading_lheha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{200,224}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,224}}</string>
                <key>sourceSize</key>
                <string>{214,238}</string>
            </dict>
            <key>loading_lheha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,204},{200,222}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{200,222}}</string>
                <key>sourceSize</key>
                <string>{214,238}</string>
            </dict>
            <key>loading_lheha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{200,224}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,224}}</string>
                <key>sourceSize</key>
                <string>{214,238}</string>
            </dict>
            <key>loading_lheha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,784},{200,226}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,226}}</string>
                <key>sourceSize</key>
                <string>{214,238}</string>
            </dict>
            <key>loading_lheha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{200,228}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{200,228}}</string>
                <key>sourceSize</key>
                <string>{214,238}</string>
            </dict>
            <key>loading_yan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,406},{210,75}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{210,75}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>loading_yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,258},{208,73}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{208,73}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>loading_yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{208,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{208,77}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>loading_yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,483},{206,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{206,73}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>loading_yan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{208,77}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>loading_yan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,258},{208,73}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{208,73}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>loading_yan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,406},{210,75}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{210,75}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>non_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,739},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>ok_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,739},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{45,39}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:831a5b5447440d2eb38552a6754334ad$</string>
            <key>textureFileName</key>
            <string>loginUI.png</string>
        </dict>
    </dict>
</plist>
